
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-open{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    line-height: 1.8;
    min-height: 100vh;
}

.change,.reset{
    background-color: rgb(144, 172, 67);
    color: white;
    border:2px solid black;
    padding: 15px;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border: 5px;
  
}


