*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    cursor: none;
}
.cursor{

    width: 3rem;
    height: 3rem;
    /* background-color: #0067; */
    border: solid 1px white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: transform, background;
    transform-origin: 100% 100%;
    z-index: 12;
    backdrop-filter: sepia(100%);
}
nav ul li a:hover .cursor{
    color: rgb(177, 204, 25);
}
nav{
    position: fixed;
    /* z-index: 22; */
    background-color: #333;
    top:0;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
nav ul li{
    
    flex: 0.1;
    padding:15px;
    transition: all 0.3s ease-in-out;
    /* z-index: 164; */
}
nav ul li a{
    cursor: none;
    /* z-index: 64; */
   text-decoration: none;
   color:white;
   padding: 16px 20px;
}

main section{
    height: 100vh;
    text-align: center;
    padding-top: 25em;
    
    
  
}
h1{
    font-size: 40px;
}
main #s1{
    background-color: #006d77;
   
}
main #s2{
    background-color: #83c5be;
}
main #s3{
    background-color: #bde0fe;
}
main #s4{
    background-color: #8ecae6;
}

.show{
    z-index: -2;
    background-color: #006d77;
    position: absolute;
    
}



.link-grow{
    transform: scale(2);
    /* background-color: white; */
}
.hovered-link{
    color: rgb(184, 82, 14);
    /* z-index: 62; */
    /* font-size: 20px; */
}

.img-focus{
    height: 5rem;
    width: 5rem;
}